// main color 
$yellow : #F5A623;
$blue : #4A90E2;
$grey : #9B9B9B;
$green : #7ED321;


$tableWidth:(
    "col1": 17, 
    "col2": 21,
    "col3": 8,
    "col4": 12,
    "col5": 12,
    "col6": 14,
    "col7": 16,
);