// change placeholder color
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #bcbcbc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #bcbcbc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #bcbcbc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #bcbcbc;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #bcbcbc;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #bcbcbc;
}

// remove input focus outline
input:focus, select:focus, textarea:focus{
    outline: none;
}

select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border:none;        
}

/**********************************/

.check {    
    &__txt {     
        min-width: 110px;           
        label {
            display: inline-block; // to make it easier to click
            // color: #fff;
            cursor: pointer;
            position: relative; // important
            // Now we'll create the checkbox object
            span {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                background-color: transparent;
                width: 15px;
                height: 15px;
                transform-origin: center;
                border: 1px solid #000;
                border-radius: 2px;
                margin-right: 5px;
                transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78, -1.22, .17, 1.89); // custom ease effect for bouncy animation                    
                &.bg-light{
                    background: #fff;
                    border:none;
                }
                &.margin0{
                    margin: 0;
                }
                // Now we'll create the "tick" using pseudo elements - those will be basically two lines that will be rotated to form the "tick"
                &:before {
                    content: "";
                    width: 0px;
                    height: 2px;
                    border-radius: 2px; // so that the tick has nice rounded look
                    // background: #fff;
                    position: absolute;
                    transform: rotate(45deg);
                    top: 6px; // you'll need to experiment with placement depending on the dimensions you've chosen
                    left: 4px; // you'll need to experiment with placement depending on the dimensions you've chosen
                    transition: width 50ms ease 50ms;
                    transform-origin: 0% 0%;
                }
                &:after {
                    content: "";
                    width: 0;
                    height: 2px;
                    border-radius: 2px; // so that the tick has nice rounded look
                    // background: #fff;
                    position: absolute;
                    transform: rotate(305deg);
                    top: 10px; // you'll need to experiment with placement depending on the dimensions you've chosen
                    left: 5px; // you'll need to experiment with placement depending on the dimensions you've chosen
                    transition: width 50ms ease;
                    transform-origin: 0% 0%;
                }
            } // Time to add some life to it
            p {
                display: inline-block;
                vertical-align: middle;
            }          

        }
        a {
            display: inline-block;
            margin: 0 5px;
            color: #f6c300;
            text-decoration: underline;            
        }
        input[type="checkbox"], input[type="radio"] {
            display: none; // hide the system checkbox
            // Let's add some effects after the checkbox is checked
            &:checked {
                +label {
                    span {
                        background-color: #000;
                        transform: scale(1.25); // enlarge the box
                        &:after {
                            width: 10px;
                            background: #fff;
                            transition: width 150ms ease 100ms; // enlarge the tick
                        }
                        &:before {
                            width: 5px;
                            background: #fff;
                            transition: width 150ms ease 100ms; // enlarge the tick
                        }
                    }
                    &:hover {
                        // copy the states for onMouseOver to avoid flickering
                        span {
                            background-color: #000;
                            transform: scale(1.25); // enlarge the box
                            &:after {
                                width: 10px;
                                background: #fff;
                                transition: width 150ms ease 100ms; // enlarge the tick
                            }
                            &:before {
                                width: 5px;
                                background: #fff;
                                transition: width 150ms ease 100ms; // enlarge the tick
                            }
                        }
                    }
                }
            }
        }
    }    
}