nav {
   max-width: 1024px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;   
   color:#fff;        
    h1{
        flex-grow:1;
        margin: 0;        
    }
    ul{
        flex-grow:6;        
        display: flex;        
    }
    .login{
        flex-grow:1;   
        text-align: right;
    }
    a{
        display: block;
        font-weight: bold;
        color:#fff;
        padding: 20px 20px;
    }
}
